
<table style="text-align:center"><tr><td colspan="12" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td>LD</td><td>ROE</td><td>debtRatio</td><td>cashRatio</td><td>size</td><td>dtrAsset</td><td>holderType</td><td>gdp</td><td>m2</td><td>cspread</td><td>tspread</td></tr>
<tr><td colspan="12" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">LD</td><td>1</td><td>0.053</td><td>0.030</td><td>-0.024</td><td>0.349</td><td>0.117</td><td>-0.318</td><td>0.220</td><td>-0.374</td><td>0.112</td><td>-0.374</td></tr>
<tr><td style="text-align:left">ROE</td><td>0.053</td><td>1</td><td>-0.016</td><td>0.033</td><td>0.036</td><td>0.029</td><td>-0.028</td><td>0.100</td><td>-0.031</td><td>0.065</td><td>-0.172</td></tr>
<tr><td style="text-align:left">debtRatio</td><td>0.030</td><td>-0.016</td><td>1</td><td>-0.050</td><td>0.043</td><td>0.590</td><td>-0.023</td><td>0.169</td><td>0.194</td><td>-0.171</td><td>0.189</td></tr>
<tr><td style="text-align:left">cashRatio</td><td>-0.024</td><td>0.033</td><td>-0.050</td><td>1</td><td>-0.317</td><td>-0.035</td><td>0.381</td><td>0.106</td><td>0.011</td><td>-0.040</td><td>0.028</td></tr>
<tr><td style="text-align:left">size</td><td>0.349</td><td>0.036</td><td>0.043</td><td>-0.317</td><td>1</td><td>-0.200</td><td>-0.872</td><td>0.031</td><td>0.036</td><td>0.011</td><td>0.016</td></tr>
<tr><td style="text-align:left">dtrAsset</td><td>0.117</td><td>0.029</td><td>0.590</td><td>-0.035</td><td>-0.200</td><td>1</td><td>0.102</td><td>0.355</td><td>0.078</td><td>-0.313</td><td>0.075</td></tr>
<tr><td style="text-align:left">holderType</td><td>-0.318</td><td>-0.028</td><td>-0.023</td><td>0.381</td><td>-0.872</td><td>0.102</td><td>1</td><td>-0.035</td><td>-0.007</td><td>0.034</td><td>-0.012</td></tr>
<tr><td style="text-align:left">gdp</td><td>0.220</td><td>0.100</td><td>0.169</td><td>0.106</td><td>0.031</td><td>0.355</td><td>-0.035</td><td>1</td><td>0.246</td><td>-0.626</td><td>0.227</td></tr>
<tr><td style="text-align:left">m2</td><td>-0.374</td><td>-0.031</td><td>0.194</td><td>0.011</td><td>0.036</td><td>0.078</td><td>-0.007</td><td>0.246</td><td>1</td><td>-0.410</td><td>0.893</td></tr>
<tr><td style="text-align:left">cspread</td><td>0.112</td><td>0.065</td><td>-0.171</td><td>-0.040</td><td>0.011</td><td>-0.313</td><td>0.034</td><td>-0.626</td><td>-0.410</td><td>1</td><td>-0.510</td></tr>
<tr><td style="text-align:left">tspread</td><td>-0.374</td><td>-0.172</td><td>0.189</td><td>0.028</td><td>0.016</td><td>0.075</td><td>-0.012</td><td>0.227</td><td>0.893</td><td>-0.510</td><td>1</td></tr>
<tr><td colspan="12" style="border-bottom: 1px solid black"></td></tr></table>
