
<table style="text-align:center"><tr><td colspan="7" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td colspan="6"><em>Dependent variable:</em></td></tr>
<tr><td></td><td colspan="6" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:left"></td><td colspan="2">LD</td><td colspan="2">LD.lag1</td><td colspan="2">LD.lag2</td></tr>
<tr><td style="text-align:left"></td><td>(1)</td><td>(2)</td><td>(3)</td><td>(4)</td><td>(5)</td><td>(6)</td></tr>
<tr><td colspan="7" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">ROE</td><td>0.003</td><td>-0.009</td><td>0.118<sup>*</sup></td><td>0.116<sup>*</sup></td><td>0.050</td><td>0.038</td></tr>
<tr><td style="text-align:left"></td><td>(0.059)</td><td>(0.061)</td><td>(0.062)</td><td>(0.064)</td><td>(0.069)</td><td>(0.071)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">size</td><td>0.129<sup>*</sup></td><td>0.114</td><td>-0.042</td><td>-0.020</td><td>-0.113</td><td>-0.070</td></tr>
<tr><td style="text-align:left"></td><td>(0.069)</td><td>(0.076)</td><td>(0.071)</td><td>(0.078)</td><td>(0.079)</td><td>(0.087)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">debtRatio</td><td>-0.158<sup>**</sup></td><td></td><td>-0.112</td><td></td><td>-0.177<sup>*</sup></td><td></td></tr>
<tr><td style="text-align:left"></td><td>(0.079)</td><td></td><td>(0.082)</td><td></td><td>(0.092)</td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">dtrAsset</td><td></td><td>-0.014</td><td></td><td>0.028</td><td></td><td>0.089</td></tr>
<tr><td style="text-align:left"></td><td></td><td>(0.070)</td><td></td><td>(0.072)</td><td></td><td>(0.080)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">gdp</td><td>0.433<sup>***</sup></td><td>0.414<sup>***</sup></td><td>0.267<sup>***</sup></td><td>0.249<sup>***</sup></td><td>-0.085</td><td>-0.153<sup>*</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.060)</td><td>(0.075)</td><td>(0.064)</td><td>(0.079)</td><td>(0.072)</td><td>(0.087)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">tspread</td><td>-0.409<sup>***</sup></td><td>-0.448<sup>***</sup></td><td>-0.434<sup>***</sup></td><td>-0.458<sup>***</sup></td><td>-0.180<sup>**</sup></td><td>-0.225<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.062)</td><td>(0.060)</td><td>(0.064)</td><td>(0.063)</td><td>(0.071)</td><td>(0.069)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Constant</td><td>0.082</td><td>0.048</td><td>0.060</td><td>0.036</td><td>0.018</td><td>-0.034</td></tr>
<tr><td style="text-align:left"></td><td>(0.059)</td><td>(0.061)</td><td>(0.061)</td><td>(0.064)</td><td>(0.069)</td><td>(0.071)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td colspan="7" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Observations</td><td>234</td><td>225</td><td>236</td><td>228</td><td>233</td><td>227</td></tr>
<tr><td style="text-align:left">R<sup>2</sup></td><td>0.300</td><td>0.273</td><td>0.246</td><td>0.242</td><td>0.081</td><td>0.074</td></tr>
<tr><td style="text-align:left">Adjusted R<sup>2</sup></td><td>0.292</td><td>0.266</td><td>0.240</td><td>0.236</td><td>0.079</td><td>0.072</td></tr>
<tr><td style="text-align:left">F Statistic</td><td>19.529<sup>***</sup> (df = 5; 228)</td><td>16.430<sup>***</sup> (df = 5; 219)</td><td>15.022<sup>***</sup> (df = 5; 230)</td><td>14.210<sup>***</sup> (df = 5; 222)</td><td>3.983<sup>***</sup> (df = 5; 227)</td><td>3.513<sup>***</sup> (df = 5; 221)</td></tr>
<tr><td colspan="7" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"><em>Note:</em></td><td colspan="6" style="text-align:right"><sup>*</sup>p<0.1; <sup>**</sup>p<0.05; <sup>***</sup>p<0.01</td></tr>
</table>
