
<table style="text-align:center"><tr><td colspan="7" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td colspan="6"><em>Dependent variable:</em></td></tr>
<tr><td></td><td colspan="6" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:left"></td><td colspan="2">LD</td><td colspan="2">LD.lag1</td><td colspan="2">LD.lag2</td></tr>
<tr><td style="text-align:left"></td><td>(1)</td><td>(2)</td><td>(3)</td><td>(4)</td><td>(5)</td><td>(6)</td></tr>
<tr><td colspan="7" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">ROE</td><td>-0.118</td><td>-0.119</td><td>0.021</td><td>0.028</td><td>-0.068</td><td>-0.059</td></tr>
<tr><td style="text-align:left"></td><td>(0.073)</td><td>(0.074)</td><td>(0.071)</td><td>(0.071)</td><td>(0.080)</td><td>(0.081)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">size</td><td>0.207<sup>**</sup></td><td>0.256<sup>***</sup></td><td>0.188<sup>**</sup></td><td>0.202<sup>***</sup></td><td>0.178<sup>*</sup></td><td>0.185<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.082)</td><td>(0.078)</td><td>(0.080)</td><td>(0.075)</td><td>(0.091)</td><td>(0.084)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">debtRatio</td><td>0.010</td><td></td><td>0.074</td><td></td><td>0.120</td><td></td></tr>
<tr><td style="text-align:left"></td><td>(0.096)</td><td></td><td>(0.095)</td><td></td><td>(0.113)</td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">dtrAsset</td><td></td><td>0.377<sup>**</sup></td><td></td><td>0.395<sup>**</sup></td><td></td><td>0.545<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td></td><td>(0.161)</td><td></td><td>(0.175)</td><td></td><td>(0.227)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">gdp</td><td>0.202<sup>**</sup></td><td>0.110</td><td>0.104</td><td>0.040</td><td>-0.179<sup>*</sup></td><td>-0.243<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.082)</td><td>(0.088)</td><td>(0.082)</td><td>(0.086)</td><td>(0.096)</td><td>(0.098)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">tspread</td><td>-0.567<sup>***</sup></td><td>-0.561<sup>***</sup></td><td>-0.637<sup>***</sup></td><td>-0.605<sup>***</sup></td><td>-0.466<sup>***</sup></td><td>-0.417<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.078)</td><td>(0.075)</td><td>(0.074)</td><td>(0.072)</td><td>(0.084)</td><td>(0.080)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Constant</td><td>-0.033</td><td>0.025</td><td>-0.062</td><td>-0.001</td><td>-0.110</td><td>-0.017</td></tr>
<tr><td style="text-align:left"></td><td>(0.079)</td><td>(0.082)</td><td>(0.081)</td><td>(0.084)</td><td>(0.097)</td><td>(0.105)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td colspan="7" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Observations</td><td>140</td><td>135</td><td>137</td><td>134</td><td>133</td><td>130</td></tr>
<tr><td style="text-align:left">R<sup>2</sup></td><td>0.324</td><td>0.351</td><td>0.386</td><td>0.406</td><td>0.240</td><td>0.268</td></tr>
<tr><td style="text-align:left">Adjusted R<sup>2</sup></td><td>0.310</td><td>0.336</td><td>0.369</td><td>0.387</td><td>0.229</td><td>0.256</td></tr>
<tr><td style="text-align:left">F Statistic</td><td>12.819<sup>***</sup> (df = 5; 134)</td><td>13.967<sup>***</sup> (df = 5; 129)</td><td>16.470<sup>***</sup> (df = 5; 131)</td><td>17.471<sup>***</sup> (df = 5; 128)</td><td>8.008<sup>***</sup> (df = 5; 127)</td><td>9.093<sup>***</sup> (df = 5; 124)</td></tr>
<tr><td colspan="7" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"><em>Note:</em></td><td colspan="6" style="text-align:right"><sup>*</sup>p<0.1; <sup>**</sup>p<0.05; <sup>***</sup>p<0.01</td></tr>
</table>
