
<table style="text-align:center"><tr><td colspan="7" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td colspan="6"><em>Dependent variable:</em></td></tr>
<tr><td></td><td colspan="6" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:left"></td><td colspan="2">LD</td><td colspan="2">LD.lag1</td><td colspan="2">LD.lag2</td></tr>
<tr><td style="text-align:left"></td><td>(1)</td><td>(2)</td><td>(3)</td><td>(4)</td><td>(5)</td><td>(6)</td></tr>
<tr><td colspan="7" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">ROE</td><td>-0.231<sup>**</sup></td><td>-0.226<sup>**</sup></td><td>-0.017</td><td>0.006</td><td>-0.034</td><td>0.006</td></tr>
<tr><td style="text-align:left"></td><td>(0.098)</td><td>(0.100)</td><td>(0.113)</td><td>(0.118)</td><td>(0.134)</td><td>(0.133)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">size</td><td>0.186<sup>**</sup></td><td>0.273<sup>***</sup></td><td>0.060</td><td>0.144</td><td>-0.036</td><td>0.256<sup>*</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.085)</td><td>(0.083)</td><td>(0.099)</td><td>(0.100)</td><td>(0.133)</td><td>(0.129)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">debtRatio</td><td>0.095</td><td></td><td>0.113</td><td></td><td>0.291</td><td></td></tr>
<tr><td style="text-align:left"></td><td>(0.083)</td><td></td><td>(0.099)</td><td></td><td>(0.271)</td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">dtrAsset</td><td></td><td>0.276<sup>**</sup></td><td></td><td>0.276<sup>*</sup></td><td></td><td>2.492<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td></td><td>(0.136)</td><td></td><td>(0.161)</td><td></td><td>(0.834)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">gdp</td><td>0.531<sup>***</sup></td><td>0.419<sup>***</sup></td><td>0.394<sup>***</sup></td><td>0.301<sup>**</sup></td><td>-0.019</td><td>-0.160</td></tr>
<tr><td style="text-align:left"></td><td>(0.102)</td><td>(0.110)</td><td>(0.130)</td><td>(0.135)</td><td>(0.174)</td><td>(0.171)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">tspread</td><td>-0.523<sup>***</sup></td><td>-0.516<sup>***</sup></td><td>-0.482<sup>***</sup></td><td>-0.468<sup>***</sup></td><td>-0.241<sup>**</sup></td><td>-0.299<sup>**</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.087)</td><td>(0.084)</td><td>(0.100)</td><td>(0.099)</td><td>(0.118)</td><td>(0.115)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Constant</td><td>0.023</td><td>-0.020</td><td>0.038</td><td>0.003</td><td>-0.045</td><td>0.355</td></tr>
<tr><td style="text-align:left"></td><td>(0.088)</td><td>(0.089)</td><td>(0.106)</td><td>(0.107)</td><td>(0.149)</td><td>(0.221)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td colspan="7" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Observations</td><td>79</td><td>74</td><td>77</td><td>73</td><td>74</td><td>70</td></tr>
<tr><td style="text-align:left">R<sup>2</sup></td><td>0.468</td><td>0.487</td><td>0.328</td><td>0.338</td><td>0.075</td><td>0.177</td></tr>
<tr><td style="text-align:left">Adjusted R<sup>2</sup></td><td>0.432</td><td>0.448</td><td>0.302</td><td>0.310</td><td>0.069</td><td>0.162</td></tr>
<tr><td style="text-align:left">F Statistic</td><td>12.840<sup>***</sup> (df = 5; 73)</td><td>12.936<sup>***</sup> (df = 5; 68)</td><td>6.918<sup>***</sup> (df = 5; 71)</td><td>6.838<sup>***</sup> (df = 5; 67)</td><td>1.108 (df = 5; 68)</td><td>2.754<sup>**</sup> (df = 5; 64)</td></tr>
<tr><td colspan="7" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"><em>Note:</em></td><td colspan="6" style="text-align:right"><sup>*</sup>p<0.1; <sup>**</sup>p<0.05; <sup>***</sup>p<0.01</td></tr>
</table>
