
<table style="text-align:center"><tr><td colspan="9" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td colspan="8"><em>Dependent variable:</em></td></tr>
<tr><td></td><td colspan="8" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:left"></td><td colspan="8">LD</td></tr>
<tr><td style="text-align:left"></td><td>(1)</td><td>(2)</td><td>(3)</td><td>(4)</td><td>(5)</td><td>(6)</td><td>(7)</td><td>(8)</td></tr>
<tr><td colspan="9" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">ROE</td><td>-0.118</td><td>-0.119</td><td>0.003</td><td>-0.009</td><td>-0.231<sup>**</sup></td><td>-0.226<sup>**</sup></td><td>-0.071<sup>*</sup></td><td>-0.077<sup>*</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.073)</td><td>(0.074)</td><td>(0.059)</td><td>(0.061)</td><td>(0.098)</td><td>(0.100)</td><td>(0.040)</td><td>(0.041)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">size</td><td>0.207<sup>**</sup></td><td>0.256<sup>***</sup></td><td>0.129<sup>*</sup></td><td>0.114</td><td>0.186<sup>**</sup></td><td>0.273<sup>***</sup></td><td>0.353<sup>***</sup></td><td>0.385<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.082)</td><td>(0.078)</td><td>(0.069)</td><td>(0.076)</td><td>(0.085)</td><td>(0.083)</td><td>(0.039)</td><td>(0.041)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">debtRatio</td><td>0.010</td><td></td><td>-0.158<sup>**</sup></td><td></td><td>0.095</td><td></td><td>0.022</td><td></td></tr>
<tr><td style="text-align:left"></td><td>(0.096)</td><td></td><td>(0.079)</td><td></td><td>(0.083)</td><td></td><td>(0.046)</td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">dtrAsset</td><td></td><td>0.377<sup>**</sup></td><td></td><td>-0.014</td><td></td><td>0.276<sup>**</sup></td><td></td><td>0.169<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td></td><td>(0.161)</td><td></td><td>(0.070)</td><td></td><td>(0.136)</td><td></td><td>(0.065)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">gdp</td><td>0.202<sup>**</sup></td><td>0.110</td><td>0.433<sup>***</sup></td><td>0.414<sup>***</sup></td><td>0.531<sup>***</sup></td><td>0.419<sup>***</sup></td><td>0.355<sup>***</sup></td><td>0.290<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.082)</td><td>(0.088)</td><td>(0.060)</td><td>(0.075)</td><td>(0.102)</td><td>(0.110)</td><td>(0.042)</td><td>(0.047)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">tspread</td><td>-0.567<sup>***</sup></td><td>-0.561<sup>***</sup></td><td>-0.409<sup>***</sup></td><td>-0.448<sup>***</sup></td><td>-0.523<sup>***</sup></td><td>-0.516<sup>***</sup></td><td>-0.471<sup>***</sup></td><td>-0.470<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.078)</td><td>(0.075)</td><td>(0.062)</td><td>(0.060)</td><td>(0.087)</td><td>(0.084)</td><td>(0.040)</td><td>(0.040)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Constant</td><td>-0.033</td><td>0.025</td><td>0.082</td><td>0.048</td><td>0.023</td><td>-0.020</td><td>0.021</td><td>0.006</td></tr>
<tr><td style="text-align:left"></td><td>(0.079)</td><td>(0.082)</td><td>(0.059)</td><td>(0.061)</td><td>(0.088)</td><td>(0.089)</td><td>(0.039)</td><td>(0.041)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td colspan="9" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Observations</td><td>140</td><td>135</td><td>234</td><td>225</td><td>79</td><td>74</td><td>453</td><td>434</td></tr>
<tr><td style="text-align:left">R<sup>2</sup></td><td>0.324</td><td>0.351</td><td>0.300</td><td>0.273</td><td>0.468</td><td>0.487</td><td>0.364</td><td>0.371</td></tr>
<tr><td style="text-align:left">Adjusted R<sup>2</sup></td><td>0.310</td><td>0.336</td><td>0.292</td><td>0.266</td><td>0.432</td><td>0.448</td><td>0.359</td><td>0.366</td></tr>
<tr><td style="text-align:left">F Statistic</td><td>12.819<sup>***</sup> (df = 5; 134)</td><td>13.967<sup>***</sup> (df = 5; 129)</td><td>19.529<sup>***</sup> (df = 5; 228)</td><td>16.430<sup>***</sup> (df = 5; 219)</td><td>12.840<sup>***</sup> (df = 5; 73)</td><td>12.936<sup>***</sup> (df = 5; 68)</td><td>51.143<sup>***</sup> (df = 5; 447)</td><td>50.577<sup>***</sup> (df = 5; 428)</td></tr>
<tr><td colspan="9" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"><em>Note:</em></td><td colspan="8" style="text-align:right"><sup>*</sup>p<0.1; <sup>**</sup>p<0.05; <sup>***</sup>p<0.01</td></tr>
</table>
