
<table style="text-align:center"><tr><td colspan="9" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td colspan="8"><em>Dependent variable:</em></td></tr>
<tr><td></td><td colspan="8" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:left"></td><td colspan="8">LD.lag1</td></tr>
<tr><td style="text-align:left"></td><td>(1)</td><td>(2)</td><td>(3)</td><td>(4)</td><td>(5)</td><td>(6)</td><td>(7)</td><td>(8)</td></tr>
<tr><td colspan="9" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">ROE</td><td>0.021</td><td>0.028</td><td>0.118<sup>*</sup></td><td>0.116<sup>*</sup></td><td>-0.017</td><td>0.006</td><td>0.046</td><td>0.049</td></tr>
<tr><td style="text-align:left"></td><td>(0.071)</td><td>(0.071)</td><td>(0.062)</td><td>(0.064)</td><td>(0.113)</td><td>(0.118)</td><td>(0.042)</td><td>(0.043)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">size</td><td>0.188<sup>**</sup></td><td>0.202<sup>***</sup></td><td>-0.042</td><td>-0.020</td><td>0.060</td><td>0.144</td><td>0.294<sup>***</sup></td><td>0.333<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.080)</td><td>(0.075)</td><td>(0.071)</td><td>(0.078)</td><td>(0.099)</td><td>(0.100)</td><td>(0.041)</td><td>(0.043)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">debtRatio</td><td>0.074</td><td></td><td>-0.112</td><td></td><td>0.113</td><td></td><td>0.073</td><td></td></tr>
<tr><td style="text-align:left"></td><td>(0.095)</td><td></td><td>(0.082)</td><td></td><td>(0.099)</td><td></td><td>(0.048)</td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">dtrAsset</td><td></td><td>0.395<sup>**</sup></td><td></td><td>0.028</td><td></td><td>0.276<sup>*</sup></td><td></td><td>0.202<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td></td><td>(0.175)</td><td></td><td>(0.072)</td><td></td><td>(0.161)</td><td></td><td>(0.068)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">gdp</td><td>0.104</td><td>0.040</td><td>0.267<sup>***</sup></td><td>0.249<sup>***</sup></td><td>0.394<sup>***</sup></td><td>0.301<sup>**</sup></td><td>0.226<sup>***</sup></td><td>0.177<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.082)</td><td>(0.086)</td><td>(0.064)</td><td>(0.079)</td><td>(0.130)</td><td>(0.135)</td><td>(0.044)</td><td>(0.050)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">tspread</td><td>-0.637<sup>***</sup></td><td>-0.605<sup>***</sup></td><td>-0.434<sup>***</sup></td><td>-0.458<sup>***</sup></td><td>-0.482<sup>***</sup></td><td>-0.468<sup>***</sup></td><td>-0.500<sup>***</sup></td><td>-0.484<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.074)</td><td>(0.072)</td><td>(0.064)</td><td>(0.063)</td><td>(0.100)</td><td>(0.099)</td><td>(0.041)</td><td>(0.041)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Constant</td><td>-0.062</td><td>-0.001</td><td>0.060</td><td>0.036</td><td>0.038</td><td>0.003</td><td>-0.008</td><td>-0.011</td></tr>
<tr><td style="text-align:left"></td><td>(0.081)</td><td>(0.084)</td><td>(0.061)</td><td>(0.064)</td><td>(0.106)</td><td>(0.107)</td><td>(0.042)</td><td>(0.043)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td colspan="9" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Observations</td><td>137</td><td>134</td><td>236</td><td>228</td><td>77</td><td>73</td><td>450</td><td>435</td></tr>
<tr><td style="text-align:left">R<sup>2</sup></td><td>0.386</td><td>0.406</td><td>0.246</td><td>0.242</td><td>0.328</td><td>0.338</td><td>0.329</td><td>0.343</td></tr>
<tr><td style="text-align:left">Adjusted R<sup>2</sup></td><td>0.369</td><td>0.387</td><td>0.240</td><td>0.236</td><td>0.302</td><td>0.310</td><td>0.325</td><td>0.338</td></tr>
<tr><td style="text-align:left">F Statistic</td><td>16.470<sup>***</sup> (df = 5; 131)</td><td>17.471<sup>***</sup> (df = 5; 128)</td><td>15.022<sup>***</sup> (df = 5; 230)</td><td>14.210<sup>***</sup> (df = 5; 222)</td><td>6.918<sup>***</sup> (df = 5; 71)</td><td>6.838<sup>***</sup> (df = 5; 67)</td><td>43.597<sup>***</sup> (df = 5; 444)</td><td>44.753<sup>***</sup> (df = 5; 429)</td></tr>
<tr><td colspan="9" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"><em>Note:</em></td><td colspan="8" style="text-align:right"><sup>*</sup>p<0.1; <sup>**</sup>p<0.05; <sup>***</sup>p<0.01</td></tr>
</table>
