
<table style="text-align:center"><tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Statistic</td><td>N</td><td>Mean</td><td>St. Dev.</td><td>Min</td><td>Max</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">LD</td><td>501</td><td>7.557</td><td>0.929</td><td>6.256</td><td>10.514</td></tr>
<tr><td style="text-align:left">ROE</td><td>543</td><td>13.131</td><td>6.217</td><td>1.324</td><td>41.125</td></tr>
<tr><td style="text-align:left">debtRatio</td><td>548</td><td>94.450</td><td>1.863</td><td>86.929</td><td>113.714</td></tr>
<tr><td style="text-align:left">cashRatio</td><td>492</td><td>7.809</td><td>3.990</td><td>1.866</td><td>38.694</td></tr>
<tr><td style="text-align:left">size</td><td>517</td><td>25.866</td><td>1.304</td><td>23.018</td><td>28.630</td></tr>
<tr><td style="text-align:left">dtrAsset</td><td>508</td><td>1.576</td><td>2.279</td><td>0.330</td><td>26.170</td></tr>
<tr><td style="text-align:left">holderType</td><td>640</td><td>0.875</td><td>0.697</td><td>0</td><td>2</td></tr>
<tr><td style="text-align:left">gdp</td><td>640</td><td>10.071</td><td>2.309</td><td>6.600</td><td>14.500</td></tr>
<tr><td style="text-align:left">m2</td><td>640</td><td>17.168</td><td>4.077</td><td>12.367</td><td>28.947</td></tr>
<tr><td style="text-align:left">cspread</td><td>640</td><td>1.261</td><td>0.398</td><td>0.424</td><td>1.922</td></tr>
<tr><td style="text-align:left">tspread</td><td>640</td><td>1.114</td><td>0.519</td><td>0.302</td><td>2.156</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr></table>
