
<table style="text-align:center"><tr><td colspan="7" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td colspan="6"><em>Dependent variable:</em></td></tr>
<tr><td></td><td colspan="6" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:left"></td><td colspan="2">LD</td><td colspan="2">LD.lag1</td><td colspan="2">LD.lag2</td></tr>
<tr><td style="text-align:left"></td><td>(1)</td><td>(2)</td><td>(3)</td><td>(4)</td><td>(5)</td><td>(6)</td></tr>
<tr><td colspan="7" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">ROE</td><td>-0.071<sup>*</sup></td><td>-0.077<sup>*</sup></td><td>0.046</td><td>0.049</td><td>-0.021</td><td>-0.026</td></tr>
<tr><td style="text-align:left"></td><td>(0.040)</td><td>(0.041)</td><td>(0.042)</td><td>(0.043)</td><td>(0.047)</td><td>(0.047)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">size</td><td>0.353<sup>***</sup></td><td>0.385<sup>***</sup></td><td>0.294<sup>***</sup></td><td>0.333<sup>***</sup></td><td>0.274<sup>***</sup></td><td>0.340<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.039)</td><td>(0.041)</td><td>(0.041)</td><td>(0.043)</td><td>(0.046)</td><td>(0.049)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">debtRatio</td><td>0.022</td><td></td><td>0.073</td><td></td><td>0.052</td><td></td></tr>
<tr><td style="text-align:left"></td><td>(0.046)</td><td></td><td>(0.048)</td><td></td><td>(0.070)</td><td></td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">dtrAsset</td><td></td><td>0.169<sup>***</sup></td><td></td><td>0.202<sup>***</sup></td><td></td><td>0.457<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td></td><td>(0.065)</td><td></td><td>(0.068)</td><td></td><td>(0.119)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">gdp</td><td>0.355<sup>***</sup></td><td>0.290<sup>***</sup></td><td>0.226<sup>***</sup></td><td>0.177<sup>***</sup></td><td>-0.085</td><td>-0.187<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.042)</td><td>(0.047)</td><td>(0.044)</td><td>(0.050)</td><td>(0.052)</td><td>(0.058)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">tspread</td><td>-0.471<sup>***</sup></td><td>-0.470<sup>***</sup></td><td>-0.500<sup>***</sup></td><td>-0.484<sup>***</sup></td><td>-0.290<sup>***</sup></td><td>-0.284<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.040)</td><td>(0.040)</td><td>(0.041)</td><td>(0.041)</td><td>(0.047)</td><td>(0.046)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td style="text-align:left">Constant</td><td>0.021</td><td>0.006</td><td>-0.008</td><td>-0.011</td><td>-0.074</td><td>-0.055</td></tr>
<tr><td style="text-align:left"></td><td>(0.039)</td><td>(0.041)</td><td>(0.042)</td><td>(0.043)</td><td>(0.049)</td><td>(0.049)</td></tr>
<tr><td style="text-align:left"></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
<tr><td colspan="7" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Observations</td><td>453</td><td>434</td><td>450</td><td>435</td><td>440</td><td>427</td></tr>
<tr><td style="text-align:left">R<sup>2</sup></td><td>0.364</td><td>0.371</td><td>0.329</td><td>0.343</td><td>0.162</td><td>0.193</td></tr>
<tr><td style="text-align:left">Adjusted R<sup>2</sup></td><td>0.359</td><td>0.366</td><td>0.325</td><td>0.338</td><td>0.160</td><td>0.190</td></tr>
<tr><td style="text-align:left">F Statistic</td><td>51.143<sup>***</sup> (df = 5; 447)</td><td>50.577<sup>***</sup> (df = 5; 428)</td><td>43.597<sup>***</sup> (df = 5; 444)</td><td>44.753<sup>***</sup> (df = 5; 429)</td><td>16.795<sup>***</sup> (df = 5; 434)</td><td>20.110<sup>***</sup> (df = 5; 421)</td></tr>
<tr><td colspan="7" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"><em>Note:</em></td><td colspan="6" style="text-align:right"><sup>*</sup>p<0.1; <sup>**</sup>p<0.05; <sup>***</sup>p<0.01</td></tr>
</table>
